cmake-build-debug
.idea
.D*
.o
.h
/Codes/A2/bits.o
/Codes/A2/bsig.o
/Codes/A2/create.exe
/Codes/A2/create.o
/Codes/A2/dump.exe
/Codes/A2/dump.o
/Codes/A2/gendata.exe
/Codes/A2/gendata.o
/Codes/A2/hash.o
/Codes/A2/insert.exe
/Codes/A2/insert.exe.stackdump
/Codes/A2/insert.o
/Codes/A2/page.o
/Codes/A2/psig.o
/Codes/A2/query.o
/Codes/A2/reln.o
/Codes/A2/select.exe
/Codes/A2/select.o
/Codes/A2/stats.exe
/Codes/A2/stats.o
/Codes/A2/tsig.o
/Codes/A2/tuple.o
/Codes/A2/util.o
/Codes/A2/x1.exe
/Codes/A2/x1.o
/Codes/A2/x2.exe
/Codes/A2/x2.o
/Codes/A2/x3.exe
/Codes/A2/x3.o
